PORT=8081
MONGO_DB=pulsepoll
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@YOUR_CLUSTER.mongodb.net/?retryWrites=true&w=majority
REDIS_ADDR=your-redis-host.db.redis.io:12345
REDIS_USERNAME=default
REDIS_PASSWORD=your-redis-password
AUTH_SECRET=replace-with-a-random-secret-at-least-32-characters-long
